.calender {
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-bottom: 6rem;

    &__inner {
        grid-column: inner;

    }

    &__content {
        display: flex;
        justify-content: space-between; 
    }
}

.calender-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;


    &__opening-hours {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__title {
        color: var(--color-dark);
        font-size: 61.04px;
        font-style: italic;
        font-weight: 400;
    }

    &__week {
        color: var(--color-accent-blue-opacity-64);
        font-size: 39.06px;
        font-style: italic;
        font-weight: 400;
    }

    &__button {
        border: 0;
        font-family: var(--font-main);
        font-size: 40px;
        color: var(--color-light);
        background-color: var(--color-accent-orange);
        padding: 0.75rem 1.75rem;
        transform: skew(-8deg);
        cursor: pointer;


        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid var(--color-accent-orange-100);
            border-bottom: 2px solid var(--color-accent-orange-100);
            transform: scaleY(2);
            opacity: 0;
            transition: .3s;
          }
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-accent-orange-100);
            transform: scale(0);
            opacity: 0;
            transition: .3s;
            z-index: -1;
          }
          &:hover {
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
            &:after {
              transform: scaleY(1);
              opacity: 1;
            }
          }
    }
}

.calender-reception {
    width: 425px;
    background-color: var(--color-dark);
    padding: 45px 26px 47px 26px;
    background-image: url(./assets/Gray-triangle-top.svg);
    background-repeat: no-repeat;
    background-position: top right;

    li:nth-child(odd) {
        background-color: var(--color-light-opacity-07);
        padding: 10px 0 5px 0;
        margin: 5px 0 7px 0;
    }

    h2 {
        color: var(--color-light);
        font-size: 61.04px;
        font-weight: 400;
        font-style: italic;
        padding-left: 19px;
        margin-bottom: 2rem;
    }

    &__open {
        list-style: none;
        margin: 0;
        padding: 0;     
    }

    &__weekday {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__day {
        color: var(--color-light);
        font-size: 20px;
        padding-left: 19px;
    }

    &__time {
        color: var(--color-light);
        font-size: 20px;
        padding-right: 19px;
    }

    &__text {
        color: var(--color-light-opacity-42);
        font-size: 11px;
        padding: 19px 0 0 19px;
    }

}

.calender-sauna {
    width: 425px;
    padding: 45px 26px 47px 26px;
    

    li:nth-child(odd) {
        background-color: var(--color-dark-opacity-07);
        padding: 10px 0 5px 0;
        margin: 5px 0 7px 0;
    }

    h2 {
        color: var(--color-dark);
        font-size: 61.04px;
        font-weight: 400;
        font-style: italic;
        padding-left: 19px;
        margin-bottom: 2rem;
    }

    &__open {
        list-style: none;
        margin: 0;
        padding: 0;     
    }

    &__weekday {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__day {
        color: var(--color-dark-100);
        font-size: 20px;
        padding-left: 19px;
    }

    &__time {
        color: var(--color-dark-100);
        font-size: 20px;
        padding-right: 19px;
    }


}

.calender-keycard {
    width: 425px;
    padding: 45px 26px 47px 26px;
   
    li:nth-child(odd) {
        background-color: var(--color-dark-opacity-07);
        padding: 10px 0 5px 0;
        margin: 5px 0 7px 0;
    }

    h2 {
        color: var(--color-dark);
        font-size: 61.04px;
        font-weight: 400;
        font-style: italic;
        padding-left: 19px;
        margin-bottom: 2rem;
    }

    &__open {
        list-style: none;
        margin: 0;
        padding: 0;     
    }

    &__weekday {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__day {
        color: var(--color-dark-100);
        font-size: 20px;
        padding-left: 19px;
    }

    &__time {
        color: var(--color-dark-100);
        font-size: 20px;
        padding-right: 19px;
    }


}
