.news {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
    }

    &__title {
        color: var(--color-dark);
        font-size: 61px;
        font-style: italic;
        font-weight: 400;
        margin-bottom: var(--gap-xl);
    }

    &__articles {
        display: grid;
        grid-template-columns: 47.5rem 25.5rem;
        gap: 6.75rem;
    }
}

.news-article {


    &__date {
        font-size: 18px;
        color: var(--color-dark-opacity-80);
        margin-bottom: 1.125rem;
    }

    &__title {
        color: var(--color-dark);
        font-size: 88px;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 36px;
    }

    &__img {
        margin-bottom: 2.5rem;
    }

    &__text {
        color: var(--color-dark);
        font-size: 18px;
        margin-bottom: 2.125rem;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: var(--gap-m);
    }

    &__button {
        font-family: var(--font-main);
        font-size: 29px;
        color: var(--color-light);
        background-color: var(--color-accent-orange);
        padding: 0.5rem 1.5rem;
        transform: skew(-8deg);


        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid var(--color-accent-orange-100);
            border-bottom: 2px solid var(--color-accent-orange-100);
            transform: scaleY(2);
            opacity: 0;
            transition: .3s;
          }
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-accent-orange-100);
            transform: scale(0);
            opacity: 0;
            transition: .3s;
            z-index: -1;
          }
          &:hover {
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
            &:after {
              transform: scaleY(1);
              opacity: 1;
            }
          }

    }

    &__share {
        font-family: var(--font-main);
        font-size: 29px;
        color: var(--color-dark);
        font-style: italic;
    }

}

.news-sidebar {

    display: flex;
    flex-direction: column;



    &__date {
        font-size: 18px;
        color: var(--color-dark-opacity-80);
        margin-bottom: 1rem;
    }

    &__title {
        color: var(--color-dark);
        font-size: 39px;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 1.125rem;
    }

    &__img {
        margin-bottom: 1.125rem;
    }

    &__text {
        color: var(--color-dark);
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: var(--gap-m);
        margin-bottom: 3.7rem;
    }

    &__button {
        font-family: var(--font-main);
        font-size: 29px;
        color: var(--color-light);
        background-color: var(--color-accent-orange);
        padding: 0.5rem 1.5rem;
        transform: skew(-8deg);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 2px solid var(--color-accent-orange-100);
            border-bottom: 2px solid var(--color-accent-orange-100);
            transform: scaleY(2);
            opacity: 0;
            transition: .3s;
          }
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-accent-orange-100);
            transform: scale(0);
            opacity: 0;
            transition: .3s;
            z-index: -1;
          }
          &:hover {
            &:before {
              transform: scaleY(1);
              opacity: 1;
            }
            &:after {
              transform: scaleY(1);
              opacity: 1;
            }
          }

    }

    &__share {
        font-family: var(--font-main);
        font-size: 29px;
        color: var(--color-dark);
        font-style: italic;
    }
}